.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_field {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.shape {
  font-size:14px;
}
.icon {
}
.line {
}
.arrow {
}
.flow_shape {
}
.image {
}
.placeholder {
}
.checkbox {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.droplist {
  color:#000000;
  text-align:left;
}
.cover {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
}
.horizontal_line {
}
.input_field {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#2D373E;
  text-align:left;
}
.label1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
.border_grey {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.calendar {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#2D373E;
  text-align:center;
}
.calender_mouseover {
}
.calendar_selected {
  color:#FFFFFF;
}
.solid_white {
}
.table {
}
.table_cell {
}
.shape1 {
  font-size:14px;
}
.paragraph1 {
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.image1 {
  color:#000000;
}
.box_11 {
}
.line1 {
}
.label2 {
  font-size:14px;
  text-align:left;
}
.text_field2 {
  color:#000000;
  text-align:left;
}
